h1 {
  color: red;
}

  .square{
    width: 50%;
  }

  #pink {
    backround-color: #FF377B
  }

  #green {
    backround-color: #7DE522
  }

  #yellow {
    backround-color: #FBE608
  }

  #blue {
    backround-color: #3AB1FC
  }
<text>
Finalizing colors from the 1990s
</text>
